<!DOCTYPE html>
<html>
<head>
	<title>Vorcee | Keep Shopping Keep Sharing</title>
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Condensed|Noto+Sans|Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="fa/css/font-awesome.min.css">
</head>
<body>
	<div id="vc-topbar">
		<div class="container">
		<div class="col-md-4 col-sm-4 col-xs-6">
			<a href="#" id="vc-title">
				vorcee
			</a>
			<span class="vc-link hidden-xs ">
				<a href="#">
					Women
				</a>
				<a href="#">
					Men
				</a>
			</span>		
		</div>
		<div class="col-md-4 col-sm-8 col-xs-12" id="vc-search-top">
				<div class="input-group margin-bottom-sm">
				  <input class="form-control" type="text" placeholder="Search Product Here..">
				  <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-2 col-sm-2 col-xs-12" id="vc-link-account">
				<span class="hidden-xs" style="padding: 10px 0 0 35px;">
				<a href="#">My Account</a>
				</span>
				<span class="visible-xs">
				<a href="#">My Account</a>
				</span>
			</div>
		<div class="clearfix"></div>
		</div>
	</div>
	<!-- <div id="vc-header">
		<div class="container">
			
		</div>
	</div> -->
		<div id="vc-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<a href="#">Clothes</a>
						<a href="#">Shoes</a>
						<a href="#">Bags</a>
						<a href="#">Accessories</a>
						<a href="#">Beauty</a>
						<a href="#">Sports</a>
						<a href="#">Vintages</a>
					</div>
					<div class="col-md-2">
						<a href="#" class="vc-foundation">Foundation</a>
					</div>
				</div>
			</div>
		</div>
	<div id="vc-banner">
		<div class="banner" style="background-image:url('coba.jpg')" ></div>
	</div>
	<div class="container">
		<div id="vc-discover">
			<div class="row">
				<div class="col-md-4 vc-dotted hidden-xs col-sm-4">
					
				</div>
				<div class="col-md-4 text-center col-xs-12 col-sm-4">
					<h2 style="margin-top:-10px;">RECOMMENDONATION</h2>	
				</div>
				<div class="col-md-4 vc-dotted hidden-xs col-sm-4">
					
				</div>
			</div>
			<div class="row" id="row-recommendonation">
				<div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		          	<span class="imgB1">
		          		30 Days Left
		          	</span>
		            <!-- <a href="single.html"><img src="product1.jpg" alt="" class="img-responsive" /></a> -->
		            <div id="vc-box" style="background-image:url('product1.jpg')">
					  <div id="vc-overlay">
					    <span id="vc-plus">
					    	<button class="btn-tip" data-toggle="modal" data-target="#vc-modal">Buy & Donate</button>
					    </span>
					  </div>
					</div>
		            <h4 class="text-center">IDR 50,000</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		          	<span class="imgB1">
		          		30 Days Left
		          	</span>
		            <!-- <a href="single.html"><img src="product1.jpg" alt="" class="img-responsive" /></a> -->
		            <div id="vc-box" style="background-image:url('product2.jpg')">
					  <div id="vc-overlay">
					    <span id="vc-plus">
					    	<button class="btn-tip" data-toggle="modal" data-target="#vc-modal">Buy & Donate</button>
					    </span>
					  </div>
					</div>
		            <h4 class="text-center">IDR 50,000</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		          	<span class="imgB1">
		          		30 Days Left
		          	</span>
		            <!-- <a href="single.html"><img src="product1.jpg" alt="" class="img-responsive" /></a> -->
		            <div id="vc-box" style="background-image:url('product3.jpg')">
					  <div id="vc-overlay">
					    <span id="vc-plus">
					    	<button class="btn-tip" data-toggle="modal" data-target="#vc-modal">Buy & Donate</button>
					    </span>
					  </div>
					</div>
		            <h4 class="text-center">IDR 50,000</h4>
		          </div>
		        </div>
		        <div class="clearfix"> </div>
			</div>
			<div class="row" id="row-recommendonation">
				<div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		          	<span class="imgB1">
		          		30 Days Left
		          	</span>
		            <!-- <a href="single.html"><img src="product1.jpg" alt="" class="img-responsive" /></a> -->
		            <div id="vc-box" style="background-image:url('product1.jpg')">
					  <div id="vc-overlay">
					    <span id="vc-plus">
					    	<button class="btn-tip" data-toggle="modal" data-target="#vc-modal">Buy & Donate</button>
					    </span>
					  </div>
					</div>
		            <h4 class="text-center">IDR 50,000</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		          	<span class="imgB1">
		          		30 Days Left
		          	</span>
		            <!-- <a href="single.html"><img src="product1.jpg" alt="" class="img-responsive" /></a> -->
		            <div id="vc-box" style="background-image:url('product2.jpg')">
					  <div id="vc-overlay">
					    <span id="vc-plus">
					    	<button class="btn-tip" data-toggle="modal" data-target="#vc-modal">Buy & Donate</button>
					    </span>
					  </div>
					</div>
		            <h4 class="text-center">IDR 50,000</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		          	<span class="imgB1">
		          		30 Days Left
		          	</span>
		            <!-- <a href="single.html"><img src="product1.jpg" alt="" class="img-responsive" /></a> -->
		            <div id="vc-box" style="background-image:url('product3.jpg')">
					  <div id="vc-overlay">
					    <span id="vc-plus">
					    	<button class="btn-tip" data-toggle="modal" data-target="#vc-modal">Buy & Donate</button>
					    </span>
					  </div>
					</div>
		            <h4 class="text-center">IDR 50,000</h4>
		          </div>
		        </div>
		        <div class="clearfix"> </div>
			</div>
		</div>
		<div id="vc-celebrand">
		<div class="row">
				<div class="col-md-4 vc-dotted col-xs-3 col-sm-4">
					
				</div>
				<div class="col-md-4 text-center col-xs-6 col-sm-4">
					<h2 style="margin-top:-10px;">OUR CELEBRANDS</h2>	
				</div>
				<div class="col-md-4 vc-dotted col-xs-3 col-sm-4">
					
				</div>
		</div>
		<div class="row" style="margin-bottom:5px">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<img src="brand1.jpg" class="img-responsive">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<img src="brand2.jpg" class="img-responsive">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<img src="brand3.jpg" class="img-responsive">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-6">
				<img src="brand1.jpg" class="img-responsive">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<img src="brand2.jpg" class="img-responsive">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<img src="brand3.jpg" class="img-responsive">
			</div>
		</div>
		</div>
	</div>
	<div id="vc-play-video">
		<img src="video.png" alt="Img" class="img-responsive">
		<div class="overlay-image"></div>
		<div class="play-button-container">
			<!-- We are a game changer<br />
			get the new experience of online shopping -->
			SHOP CAMPAIGN
			<p>
				We are a game changer. Get the new experiences of online shopping with us
				<br /><br />
				<button clas="btn-tip" data-toggle="modal" data-target="#vc-modal-video">#MODVORCEE</button>
			</p>
		</div>
	</div>
	<div class="container">
		<div id="vc-social">
			<div class="row">
				<div class="col-md-5 vc-dotted col-xs-3 col-sm-4">
					
				</div>
				<div class="col-md-2 text-center col-xs-6 col-sm-4">
					<h2 style="margin-top:-10px;">DISCOVER</h2>	
				</div>
				<div class="col-md-5 vc-dotted col-xs-3 col-sm-4">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="1.png" alt="" class="img-responsive" /></a>
		            <h4><a href="single.html">INCAST</a></h4>
		            <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
		          </div>
		        </div>
		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="2.png" alt="" class="img-responsive"/></a>
		            <h4><a href="single.html">INCONTENT</a></h4>
		            <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
		          </div>
		        </div>
		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="3.png" alt="" class="img-responsive"/></a>
		            <h4><a href="single.html">INCLASS</a></h4>
		            <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
		          </div>
		        </div>
		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="4.png" alt="" class="img-responsive"/></a>
		            <h4><a href="single.html">INCOOPERATION</a></h4>
		            <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
		          </div>
		        </div>
		        <div class="clearfix"> </div>
			</div>
		</div>
		<div id="vc-social">
			<div class="row">
				<div class="col-md-4 vc-dotted col-xs-2 col-sm-4">
				</div>
				<div class="col-md-4 text-center col-xs-8 col-sm-4">
					<h2 style="margin-top:-10px;">GET MORE VORCEE ON</h2>	
				</div>
				<div class="col-md-4 vc-dotted col-xs-2 col-sm-4">
				</div>
			</div>
			<div class="row text-center">
				<i class="fa fa-facebook fa-3x"></i>
				<i class="fa fa-twitter fa-3x"></i>
				<i class="fa fa-pinterest-p fa-3x"></i>
				<i class="fa fa-instagram fa-3x"></i>
				<i class="fa fa-youtube-play fa-3x"></i>
				<i class="fa fa-tumblr fa-3x"></i>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="vc-discover" style="margin-top:-20px;">
			<div class="row">
				<div class="col-md-3 vc-dotted col-xs-3 col-sm-4">
					
				</div>
				<div class="col-md-6 text-center col-xs-6 col-sm-4">
					<h2 style="margin-top:-10px;">KEEP AN EYE ON OUR INSTAGRAM @VORCEE</h2>	
				</div>
				<div class="col-md-3 vc-dotted col-xs-3 col-sm-4">
					
				</div>
			</div>
			<script type="text/javascript" src="js/instafeed.min.js"></script>
			<div class="row text-center">
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img src="vorcee.png" class="img-responsive">
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img src="vorcee2.png" class="img-responsive">
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img src="vorcee3.png" class="img-responsive">
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img src="vorcee.png" class="img-responsive">
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img src="vorcee2.png" class="img-responsive">
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12">
					<img src="vorcee3.png" class="img-responsive">
				</div>
			</div>
		</div>
		<div id="vc-footer">
			<div class="row">
				<div class="col-md-4 vc-footer-child">
					<h4>NEWS & SPECIAL OFFERS</h4>
					<div class="col-md-10">
						<div class="form-group input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
						  <input class="form-control" type="text" placeholder="Type Your Email to Subscribe">
						</div>
						<div class="form-group">
							<button class="btn-tip" type="text" type="submit" style="width:100%">Subscribe</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 vc-footer-child">
					<h4>ABOUT US</h4>
					<a href="#">Team</a><br />
					<a href="#">Partner</a><br />
					<a href="#">Press</a><br />
					<a href="#">Achievement</a><br />
					<a href="#">Career</a><br />
					<a href="#">Investor</a><br />
					<a href="#">Contact</a>
				</div>
				<div class="col-md-3 vc-footer-child">
					<h4>INFORMATION</h4>
					<a href="#">Shop Campaign</a><br />
					<a href="#">Marketplace</a><br />
					<a href="#">Affiliate Networks</a>
				</div>
				<div class="col-md-2 vc-footer-child-right">
					<h4>MORE SITES</h4>
					<a href="#">Incast</a><br />
					<a href="#">Incontent</a><br />
					<a href="#">Inclass</a><br />
					<a href="#">Incooperation</a>
				</div>
			</div>
		</div>
	</div>
	<div id="vc-bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4 text-center">
					&copy;2016 Vorcee All Right Reserved<br />
					Developed by <a href="http://dzillaweb.com/">Dzilla Web</a>
				</div>
				<div class="col-md-4">
					
				</div>
			</div>
		</div>
	</div>
	<div id="vc-modal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <!-- <div class="modal-header">
                                    </div> -->
	                                    <div class="modal-body">
	                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                                        <h4 class="modal-title text-center">Buy & Donate</h4>
	                                        <div class="modal-body">
	                                        	<div class="col-md-3" style="padding-top:5px;text-align:center">
	                                        		<img src="product1.jpg" class="img-responsive">
	                                        		IDR 50,000
	                                        	</div>
	                                        	<div class="col-md-9" style="padding-top:40px">
		                                        	<div class="col-md-7">
		                                        		<div class="form-group">
		                                        			<input type="text" name="donate" class="form-control" placeholder="Your donation tip here">
		                                        		</div>
		                                        	</div>
		                                        	<div class="col-md-5">
		                                        		<button class="btn-tip form-control" type="submit">Buy & Donate</button>
		                                        	</div>
	                                        	</div>
	                                        	<div class="clearfix"></div>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
    </div>
    <div id="vc-modal-video" class="modal fade" role="dialog">
                                <div class="modal-dialog vc-modal-video">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <!-- <div class="modal-header">
                                    </div> -->
	                                    <div class="modal-body">
	                                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                                        <h4 class="modal-title text-center">MODVORCEE</h4>
	                                        <div class="modal-body">
	                                        	<iframe width="100%" height="50%" src="https://www.youtube.com/watch?v=VB6-Nm6jlLI">
												</iframe>
	                                        	<div class="clearfix"></div>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
    </div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>