<!DOCTYPE html>
<html>
<head>
	<title>Vorcee | Keep Shopping Keep Sharing</title>
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Condensed|Noto+Sans|Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="fa/css/font-awesome.min.css">
</head>
<body>
	<div id="vc-topbar">
		<div class="container">
		<div class="col-md-4 col-sm-4 col-xs-6">
			<a href="#" id="vc-title">
				vorcee
			</a>
			<span class="vc-link hidden-xs ">
				<a href="#">
					Women
				</a>
				<a href="#">
					Men
				</a>
			</span>		
		</div>
		<div class="col-md-4 col-sm-8 col-xs-12" id="vc-search-top">
				<div class="input-group margin-bottom-sm">
				  <input class="form-control" type="text" placeholder="Search Product Here..">
				  <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-2 col-sm-2 col-xs-12" id="vc-link-account">
				<span class="hidden-xs" style="padding: 10px 0 0 35px;">
				<a href="#">My Account</a>
				</span>
				<span class="visible-xs">
				<a href="#">My Account</a>
				</span>
			</div>
		<div class="clearfix"></div>
		</div>
	</div>
	<!-- <div id="vc-header">
		<div class="container">
			
		</div>
	</div> -->
		<div id="vc-nav">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<a href="#">Clothes</a>
						<a href="#">Shoes</a>
						<a href="#">Bags</a>
						<a href="#">Accessories</a>
						<a href="#">Beauty</a>
						<a href="#">Sports</a>
						<a href="#">Vintages</a>
					</div>
					<div class="col-md-2">
						<a href="#" class="vc-foundation">Foundation</a>
					</div>
				</div>
			</div>
		</div>
	<!-- Container Product -->
	<div class="container">
		<div id="vc-product">
				<div class="row">
					<div class="col-md-3 text-center" id="vc-product-left">
						<div class="col-md-12 text-center" style="background-image:url('product/product.jpg')" id="vc-product-left">
						</div>	
						<div class="col-md-12 text-center" style="background-image:url('product/product6.jpg')" id="vc-product-left">
						</div>	
					</div>
					<div class="col-md-6 text-center" style="background-image:url('product/product9.jpg')" id="vc-product-center">
					</div>
					<div class="col-md-3 text-center">
						<div class="col-md-12 text-center" style="background-image:url('product/product3.jpg')" id="vc-product-left">
						</div>	
						<div class="col-md-12 text-center" style="background-image:url('product/product5.jpg')" id="vc-product-left">
						</div>	
					</div>
				</div>
		</div>
		<div id="vc-occasions">
			<div class="row">
				<div class="col-md-3 vc-dotted hidden-xs col-sm-4">
					
				</div>
				<div class="col-md-6 text-center col-xs-12 col-sm-4">
					<h2 style="margin-top:-10px;">PRODUCT BY OCCASIONS</h2>	
				</div>
				<div class="col-md-3 vc-dotted hidden-xs col-sm-4">
					
				</div>
			</div>
			<div class="row" id="row-occasions">
				<div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="product/product3.jpg" alt="" class="img-responsive" /></a>
		            <h4 class="text-center">WORKWEAR</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="product/product3.jpg" alt="" class="img-responsive" /></a>
		            <h4 class="text-center">BACK TO SCHOOL</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="product/product3.jpg" alt="" class="img-responsive" /></a>
		            <h4 class="text-center">JOIN THE PARTY</h4>
		          </div>
		        </div>
		        <div class="clearfix"> </div>
			</div>
			<div class="row" id="row-occasions">
				<div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="product/product3.jpg" alt="" class="img-responsive" /></a>
		            <h4 class="text-center">STAY CASUAL</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="product/product3.jpg" alt="" class="img-responsive" /></a>
		            <h4 class="text-center">LET'S GO SPORT</h4>
		          </div>
		        </div>
		        <div class="col-md-4 col-sm-6 col-xs-12">
		          <div class="vc-one">
		            <a href="single.html"><img src="product/product3.jpg" alt="" class="img-responsive" /></a>
		            <h4 class="text-center">SUMMER HOLIDAY</h4>
		          </div>
		        </div>
		        <div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- ./ End of Container -->
	<div class="container">
		<div id="vc-social">
			<div class="row">
				<div class="col-md-4 vc-dotted col-xs-2 col-sm-4">
				</div>
				<div class="col-md-4 text-center col-xs-8 col-sm-4">
					<h2 style="margin-top:-10px;">GET MORE VORCEE ON</h2>	
				</div>
				<div class="col-md-4 vc-dotted col-xs-2 col-sm-4">
				</div>
			</div>
			<div class="row text-center">
				<i class="fa fa-facebook fa-3x"></i>
				<i class="fa fa-twitter fa-3x"></i>
				<i class="fa fa-pinterest-p fa-3x"></i>
				<i class="fa fa-instagram fa-3x"></i>
				<i class="fa fa-youtube-play fa-3x"></i>
				<i class="fa fa-tumblr fa-3x"></i>
			</div>
		</div>
		<div id="vc-footer">
			<div class="row">
				<div class="col-md-4 vc-footer-child">
					<h4>NEWS & SPECIAL OFFERS</h4>
					<div class="col-md-10">
						<div class="form-group input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
						  <input class="form-control" type="text" placeholder="Type Your Email to Subscribe">
						</div>
						<div class="form-group">
							<button class="btn-tip" type="text" type="submit" style="width:100%">Subscribe</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 vc-footer-child">
					<h4>INFORMATION</h4>
					<a href="#">Lorem Ipsum Dolor Sil Amet</a><br />
					<a href="#">Lorem Ipsum Dolor Sil Amet</a>
				</div>
				<div class="col-md-3 vc-footer-child">
					<h4>CUSTOMER CARE</h4>
					<a href="#">Lorem Ipsum Dolor Sil Amet</a><br />
					<a href="#">Lorem Ipsum Dolor Sil Amet</a><br />
					<a href="#">Lorem Ipsum Dolor Sil Amet</a>
				</div>
				<div class="col-md-2">
					<h4>ONLINE</h4>
					<a href="#">Lorem Ipsum</a><br />
					<a href="#">Lorem Ipsum</a><br />
				</div>
			</div>
		</div>
	</div>
	<div id="vc-bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-4 text-center">
					&copy;2016 Vorcee All Right Reserved<br />
					Developed by <a href="http://dzillaweb.com/">Dzilla Web</a>
				</div>
				<div class="col-md-4">
					
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>